<!DOCTYPE html>
<html
  lang="es"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Administrador - <span th:text="${tableTitle}"></span></title>
    <link rel="stylesheet" th:href="@{/css/admin-dashboard.css}" />
    <link rel="stylesheet" href="/css/sidebar.css" />
    <link rel="stylesheet" th:href="@{/css/table.css}" /> 

    <script
      src="https://kit.fontawesome.com/6e088a75e3.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div class="wrapper">
      <div
        th:replace="~{fragments/sidebar :: sidebar (${tipoPerfil}, ${currentUri})}"
      ></div>

    </div>
  </body>
</html>
